.services{
    padding:0.3rem o.3rem;
    display: flex;
    height:90vh;
    margin: auto;
    margin-bottom: 8rem;
    margin-top:5rem;
    margin-bottom: auto;
    cursor: pointer;
}

.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}

.awesome>:nth-child(1){
    color:var(--black);
    font-size:2.5rem;
    font-weight:bold;
}

.awesome>:nth-child(2){
    color:orange;
    font-size:2.5rem;
    font-weight:bold;
}


.awesome>:nth-child(3){
    color:var(--grey);
    margin-top: 1rem;
    color:grey;
    font-size:18px;
    
}


.s-button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    width: 60%;
}

.cards{
    position: relative;
}
.cards>*{
    position: absolute;
}
.project-style{
    position: absolute;
}

.project1{
    left: 14rem;
}

.project2{
    top: 12rem;
    left: -4rem 
}

.project3{
    
    top: 29rem;
    left: 14rem;
}

.project4{
    top: 12rem;
    left: 32rem;
}

@media screen and (max-width:600px){
    .services{
        margin-top: 10rem;
        margin-bottom: 50rem;
        display: flex;
        flex-direction: column;
    }

    .awesome{
        display: flex;
        flex-direction: column; 
    }
    
    .cards{
       position: absolute;
       left: 2rem;    
    }
    .cards:hover{
        margin-bottom: 20px;
    }

    .project-style{
        position: absolute;
    }
    
    .project1{
        top:15rem;
        left: 40%;
    }
    
    .project2{
        top: 41rem;
        left: 40%;
    }
    
    .project3{
        top: 71rem;
        left: 40%;
    }
    
    .project4{
        top: 100rem;
        left: 40%;
    }

}

@media screen and (max-width: 400px) {
    .services {
        margin-top: 8rem;
        margin-bottom: 3rem; /* Adjusted margin-bottom */
    }

    .cards {
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
    }


    .project1 {
        top: 15rem;
        left:-7rem;
    }

    .project2 {
        top: 44rem;
        left:-7rem;
    }

    .project3 {
        top: 75rem;
        left: -7rem;
    }

    .project4 {
        top: 105rem;
        left:-7rem;
        bottom: 9rem;
    }
}