.project{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height: 70vh;
    margin-top: 10rem;
 }
 
.project span:nth-of-type(1){
    color:var(--black);
    font-size: 2rem;
    font-weight: bold;
}
.project span:nth-last-of-type(2){
    color:orange;
    font-size: 2.5rem;
    font-weight: bold;
}
.project .swiper{
    overflow: visible!important;
    display: flex;
    flex-direction: row;
}

.project-slider{
    margin-top:3rem;
    width:100%;
}

.project-slider .swiper-slide{
    width: 20rem;
}

.project img{
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0,0,0.25));
    border-radius: 19px;
}
.project-card{
    padding: 10px;
}


@media screen and (max-width:400px) {
    .project{
        margin-bottom:2000px !important;
    }
    
 }
