* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

.project-card {

    width: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid orange;
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    text-align: start;
    padding: 10px;
    transition: transform 0.3s ease;
    transform-origin: center;
    font-weight: 100;
    font-size: 8px;
    color: grey;
    word-break: break-all;

}

.project-card:hover {
    transform: scale(1.1);
    /* Increase the size on hover */
}

.project-card span:nth-of-type(2) {
    color: var(--grey);
    font-size: 16px;
}

.project-card>img {
    transform: scale(o.6);
    margin: auto;
    width: 15rem;
}

.project-description {
    word-wrap: break-word;
}

.c-button {
    background: #ffffff;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-size: 16px;
    color: rgb(13, 182, 249);
}

.links {
    display: flex;
    justify-content: space-around;
}

.project-github-link {
    text-decoration: none;
    color: black;

}

.project-github-link:hover {
    background-color: orange;
    color: #007bff;
    border-radius: 4px;
}

.project-deployed-link {
    text-decoration: none;
    color: black;

}

.project-deployed-link:hover {
    background-color: orange;
    color: #007bff;
    border-radius: 4px;
}

.project-description {
    text-wrap: wrap;
}

@media screen and (min-width:100px) and (max-width:480px) {
    
    .project-card {

        width: 12rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        text-align: start;
        padding: 10px;
        transition: transform 0.3s ease;
        transform-origin: center;
        font-weight: 100;
        font-size: 8px;
        color: grey;
        word-break: break-all;
    
    }

    .project-card>img {
        transform: scale(o.6);
        margin: auto;
        width: 10rem;
    }
     

}