.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    flex:1;
    align-items: center;
    display: flex;
    gap:2rem;
}
.n-name{
    font-size: 1.3rem;
    font-weight: bold;
}
.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list{
    flex: 10;
}
.n-list>ul{
    display: flex;
    gap:2rem;
    margin-right: 4rem;
    cursor: pointer;
}
.n-list>ul>li:hover{
    cursor: pointer;
    color: orange;
}
li:hover{
  
  border-radius: 4px;
  color:orange;
}

.hamburger{
  display: none;
}


@media (max-width: 768px) {
    
  
    .n-wrapper.open .n-right {
      display: flex;
      flex-direction: column;
      
    }
  
    .n-right .hamburger {
      display: block;
      display: flex;
      flex-direction: column;
      background-color: #000;
      
    }
  
    .hamburger .line {
      width: 100%;
      height: 2px;
      background-color: #000;
    }
  
    .n-list {
      display: none;
    }
  
    .n-wrapper.open .n-list {
      display: block;
    }
    /* Add the following styles for responsive design */

@media (max-width: 600px) {
  .n-wrapper.open {
    margin-bottom: 450px;
  }
  .n-left {
    flex: 1;
  }

  .n-right {
    flex: 0;
  }

  .n-right .hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    
  }

  .n-list {
    flex: 1;
    display: none;
  }

  .n-wrapper.open .n-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  

  .n-wrapper.open .n-list ul {
    flex-direction: column;
    margin-left: 20px;
  }

  .n-wrapper.open .n-list ul li {
    text-align: left;
   
  }

  .n-wrapper.open .n-list ul li:hover {
    
    color: orange;
  }
}

  }