.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    gap:2rem;
}
.i-left{
    display: flex;
    position: relative;
    flex:1;
    flex-direction:column;
    gap:2rem;
}
.i-right{
    flex:1;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
    z-index: 1px;
}
.i-name>:nth-child(2){
    font-weight: bold;
    color:orange;
    font-size: 3rem;
}

.i-name>:nth-child(3){

    font-weight: bold;
    font-size: 28px;
}
.i-name>:nth-child(4){
    font-weight: 100;
    font-size: 18px;
    color: grey;
    margin-top: 10px;
}
.floating-div{
    height:10px;
}
.i-button{
    width: 6rem;
    height: 2rem;
}
.i-icons{
    margin-top:2rem;
    display: flex;
    gap:0rem;
    transition: 0.3 ease;
}
.i-icons>*{
    transform: scale(0.5);
}
.i-icons>*:hover{
    cursor: pointer;
    transform: translateY(2);
}
.i-right{
    flex:1;
    position: relative;
    padding: 20px;
}
.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(4){
    transform: scale(1.4);
    width: 50%;
    border-radius: 50%;
    left:30%
}
.i-right>:nth-child(1){
    transform: scale(0.6%);
    left:0%;
    top:-19%;
    border-radius: 50%;
    padding:0px;
    color: orange;
}
.i-right>:nth-child(1){
    transform: scale(0.6%);
    left:0%;
    top:-19%;
    border-radius: 50%;
    padding:0px;
    color: blue;
}
.home-img{
    width: 60%;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: -80px;
    border:2px solid rgb(229, 179, 81);
}

.blur{
    position: absolute;
    width:22rem;
    height: 14rem;
    border-radius: 50%;
    background: #b069dc;
    filter: blur(72px);
    z-index: -9;
    top:-18%;
    left:56%
}
.left-blur{
    position: absolute;
    width:30rem;
    height: 14rem;
    border-radius: 50%;
    background: #e1cad5;
    filter: blur(72px);
    z-index: -9;
    top:90%;
}

/* .floating-div:nth-of-type(1){
    top:-7rem !important;

} */
.webDeveloper{
    color:orange;
}

.sec-img{
    display: hidden;
    display: none;
}

@media screen  and (max-width:600px)
{
    .intro{
       
        flex-direction: column;
        height: 64rem;
        gap:7rem;
    }

    .i-right{
        
        transform: scale(0.8);
        left:-3rem;
        position: relative;
    }
   
    /* .i-right>:nth-child(4){
        transform: scale(1.4);
        width: 70%;
        border-radius: 50%;
        top:40%
    } */
    /* .i-right>:nth-child(2){
        display: none;
    } */
    /* .i-right>:nth-child(5){
        transform: scale(1.4);
        width: 10%;
        border-radius: 50%;
        top: 10%;
        left: 20%;
    } */
    .sec-img{
        display: block;
        width: 80%;
        position: absolute;
        top: -30%;
        border-radius: 50%;
        border: 2px solid rgb(229, 179, 81);
        margin-left: 20%;
    }
    .i-right .blur{
       top:30%;
    }   
    .floating-div:nth-of-type(1){
        display: none;
        
    }
    .i-icons{
        margin-top: 3px;
    }
    
    .webDeveloper{
        color:orange;
        margin-left: 0px;
    }


}





@media screen  and (max-width:900px)
{
    .intro{
       
        flex-direction: column;
        height: 64rem;
        gap:7rem;
        margin-bottom: 140px;
    }

    .i-right{
        
        transform: scale(0.8);
        left:-3rem;
    }
    .sec-img{
        display: block;
        width: 80%;
        position: absolute;
        top: -30%;
        border-radius: 50%;
        border: 2px solid rgb(229, 179, 81);
        margin-left: 20%;
    }
    .home-img{
        display: none;
    }
    /* .i-right>:nth-child(4){
        transform: scale(1.4);
        width: 70%;
        border-radius: 50%;
        top:40%
    }
    .i-right>:nth-child(2){
        display: none;
    }
    .i-right>:nth-child(5){
        transform: scale(1.4);
        width: 10%;
        border-radius: 50%;
        top: 10%;
        left: 20%;
    } */
    .i-right .blur{
       top:30%;
    }   
    .floating-div:nth-of-type(1){
        display: none;
        
    }
    .i-icons{
        margin-top: 3px;
    }
    
    .webDeveloper{
        color:orange;
        margin-left: 0px;
    }


}



@media screen and (max-width: 400px) {
    .intro {
        flex-direction: column;
        height: auto; /* Adjust height for mobile */
        margin-top: 2rem; /* Adjust margin-top for mobile */
        gap: 1rem; /* Adjust gap for mobile */
      
    }

    .i-right {
        transform: scale(0.8);
        left: -3rem;
        position: relative;
        margin-bottom: 280px;

    }

    .sec-img {
        display: none; /* Display secondary image */
        width: 80%;
        position: absolute;
        top: -30%;
        border-radius: 50%;
        border: 2px solid rgb(229, 179, 81);
        margin-left: 20%;
    
    }

    .home-img {
        display: block; /* Hide primary image */
        top: 130%;
    }

    .i-icons {
        margin-top: 3px;
    }

    .webDeveloper {
        color: orange;
        margin-left: 0px;
    }
   
}