section #contact{
  background-color: orange;
}

.nav-link-contact h4 {
  color: white;
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}
#contact{
  margin-top: 100px;
  background: orange;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  padding: 20px;
  border-radius: 8px;
}

.nav-link-contact h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.list {
  margin-bottom: 2.8rem;
}

.list li {
  margin-bottom: 12px;
  text-decoration: none;
  list-style-type: none;
}

.list li a {
  font-size: 14px;
  text-decoration: none;
}

.list li a:hover {
  color: black;
}

.nav-link-contact p {
  font-size: var(--p-font);
  color: var(--second-color);
  line-height: 1.8;
  margin-bottom: 30px;
}



/* Contact side */

.contact-icons i {
  height: 45px;
  width: 45px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all 0.45s ease;
}

.icon{
  background-color: rgb(224, 212, 188);
  size: 90px;
  transition: 0.1s ease;
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
}

.icon:hover{
  transform: translateY(3px);
  size: 120px;
}

.fill-form form input{
  width: 60%;
  padding: 14px;
  background-color: white;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  outline: none;
  border: none;
}


.fill-form form {
  position: relative;
  
}

.fill-form textarea {
  resize: none;
  height: 100px;
  background-color: white;
  width: 60%;
  outline: none;
}

.fill-form .submit {
  margin-top: 10px;
  font-size: 16px;
  background: rgb(146, 150, 146);
  transition: 0.2s ease;
  
}

.fill-form .submit:hover {
  
  cursor: pointer;
  opacity:0.7;
  
  

}

@media screen and (max-width:480px) {


  #contact{
   position: absolute;
   background: orange;
  }
  
  .fill-form{
    margin: auto;
    position:absolute;
    top:100%;
    background-color: orange;
    padding: 20px;
  }
  
}